.navbar{
    background-color: #9896F1!important;
}
.sidebar{
    background-color: #9896F1!important;
   
}
.sidebar p{
color: white;
}
.card-title{
    color: white;
}
.simple-text{
color: #8e24aa!important ;
}
.card-header {
    background-color: #8e24aa!important;
}
.btn{
    background-color: #8e24aa!important;
}